link(rel='stylesheet', href='/stylesheets/dashboard.css')



- if (session.user && session.user.username === user.username)
  h2 My Profile
- else
  h2 #{user.username}'s Profile

- if (session.user)
  form(action='/create_message', method='post')

    input(type='hidden',name='destination',value=user.username)
  
    label
      span Post some activity in my wall
      br
      input(type='text', name='text', class="big")
      input(type='submit',value='Post')

#myActivity

  h3 Public activity

  ul
    each item in user.activities
      li(class=item.unread ? 'unread' : '')
        - if (item.type !== 'comment')
          a(href='/snippet/#{item.referenceId}')= item.type 
        - else
          #{item.type}
        span(class='text') &nbsp;#{item.text} by 
        a(href='/user/#{item.origin}') #{item.origin}
        br
        span(class='date') &nbsp;#{item.date}
        
        div.comments
          ul
            each comment in item.comments
              li
                span #{comment.text} by #{comment.origin}
                br
                span.date= comment.date
          - if (session.user)
            form(action='/new_comment',method='post')
              input(type='hidden',name='activityId',value=item._id)
              input(type='hidden',name='username',value=user.username)
              input(type='text',name='text')
              input(type='submit',value='Comment!')
        

#mySnippets
  h3
    My coderz snippets

  ul#recentSnippets
    each snippet in snippets
      li 
        a(href='/snippet/#{snippet._id}')= snippet.name 
        span(class='date') &nbsp;#{snippet.date}

  - if (session.user && user._id == session.user._id)
    a(href='/new_snippet', class='createSnippet') New snippet

.clear